@import 'var';
@import 'admin_places';

body.places.select_service{
  form{

    input[type="submit"]{
      display: none;
      &.active{
        display: inline-block;
      }
    }

    .actions .action-group button.show-root-services-selection{
      display: none;
      color: $text_gray;
      background-color: transparent;
      border: 1px solid $text_gray;
    }

    .service-selection-container{
      &.for-mobile{
        .root-services-selection{
          display: inherit;
        }
        .sub-services-selection{
          display: none;
        }
      }
    }

    .fields-group.columns{
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

      .field-wrapper{
        display: block;
        max-width: inherit;
        label.field-label{
          @include font(20, 'b');
          color: #009b72;
          margin: 20px 0 10px;
        }
        .root-services{
          .radio{
            margin: 0 5px 10px 0;
            padding: 0;
            vertical-align: top;

            input[type="radio"] + label{
              display: block !important;
              border-radius: 5px;
              border: 1px solid #dedede;
              background-color: #ffffff;
              padding: 18px;
              text-align: center;
              @include font(18, 'b');
              color: #373f51;
              &:before{
                all: unset;
              }
              &:lang(ka){
                height: 86px;
                white-space: inherit;
              }
            }
            input[type="radio"] + label:hover, input[type="radio"]:checked + label{
              background-color: #ffca74;
              &:before{
                all: unset;
              }
            }
          }
        }
      }
    }

    .fields-collection.columns{
      padding: 0 0 20px 0;
      display: block;

      .fields-collection-wrapper{
        display: block;
        max-width: inherit !important;
        width: inherit !important;
        > label.field-label{
          display: block;
          @include font(20, 'b');
          color: #009b72;
          margin: 20px 0 20px;
        }
        .no-selection, .all-sub-services-in-use{
          display: none;
          &.active{
            display: block;
          }
        }

        .active-sub-services{
          columns: 2 300px;
          column-gap: 10px;
          width: 100%;
          .field-wrapper{
            margin-bottom: 26px;
            @include font(17, 'r');
            color: #373f51;
            max-width: inherit;
            padding-bottom: 0;

            /* hack to make text not wrap between columns in chrome */
            overflow: hidden;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            break-inside: avoid-column;

            label.field-label{
              @include font(17, 'r', 20);
              /* hack to make text not wrap between columns in chrome */
              overflow: hidden;
            }
          }
        }

        .sub-services{
          display: none;
        }
      }
    }
  }
}

@media (min-width: 665px){
  body.places.select_service{
    form{
      .fields-group.columns{
        .field-wrapper{
          .root-services{
            .radio{
              width: calc(50% - 20px);
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1235px){
  body.places.select_service{
    form{
      .fields-group.columns{
        .field-wrapper{
          .root-services{
            .radio{
              width: calc(33% - 20px);
              input[type="radio"] + label{
                padding: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1467px){
  body.places.select_service{
    form{
      .fields-collection.columns{
        .fields-collection-wrapper{
          .active-sub-services{
            width: 50%;
          }
        }
      }
    }
  }
}
@media (min-width: 1575px){
  body.places.select_service{
    form{
      .fields-group.columns{
        .field-wrapper{
          .root-services{
            .radio{
              width: calc(25% - 20px);
            }
          }
        }
      }
    }
  }
}

// @media (min-width: 665px) and (min-height: 975px), (max-width: 665px) and (min-height: 740px){
//   body.places.select_service{
//     form{
//       .service-selection-container{
//         position: relative;
//         .root-services-selection{
//           position: relative;
//           opacity: 1;
//           width: 100%;
//           top: 0;
//           left: 0;
//           opacity: 1;
//         }
//         .sub-services-selection{
//           position: relative;
//           width: 100%;
//           top: 0;
//           left: 0;
//           opacity: 1;
//           .show-root-services-selection{
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }
