// *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
@import 'var';
@import 'component/service';
@import 'component/breadcrumbs';
@import 'component/views';
@import 'component/place_card';
@import 'component/favoritor';
@import 'component/rating';
@import 'component/rator';
@import 'component/slideshow';
@import 'select2';


main {
  .form-container {
    max-width: 100%;
    width: 100%;
  }
  .panels {
    display: flex;
    flex-direction: column;
    .panel {
      // max-width: 600px;
    }
    .panel:first-child {
      margin-right: 22px;
    }
    .panel:last-child {
      margin-left: 22px;
    }
    .panel-separator {
      border-right: 1px solid $border;
    }
  }

  &.provider_profile {

  }

  &.admin_profile {
    display: flex;
    flex-direction: row;
    .aside {
      display: flex;
      flex-direction: column;
      background-color: $text;
      // height: 100%;
      overflow-y: auto;
      padding: 27px 35px 27px 14px;
      > ul > li:not(:last-child) {
        padding-bottom: 60px;
      }
      span {
        display: block;
        @include font;
        color: $bg2;
        opacity: .4;
        padding-bottom: 14px;
      }
      a {
        @include font(16, 'r', 16);
        color: $bg2;
        padding: 0 0 20px 16px;
        text-decoration: none;
        white-space: nowrap;
        text-transform: uppercase;
        &:hover {
          color: $control;
        }
        &.current {
          position: relative;
          @include font(16, 'b', 16);
          color: $control;
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 50px;
            border-bottom: 1px solid $control;
            padding-bottom: 6px;
          }
        }
      }
    }
    .content.space {
      padding-top: 27px;
      .form-container {
        padding: 0 27px;
      }
    }

  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    // min-height: 100%;
    background-color: $bg;
    > .tabs {
      width: 100%;
      border-bottom: 1px solid $border;
      // text-align: center;
      ul {
        li {
          display: inline-block;
          padding: 0 27px;
          a {
            position: relative;
            padding: 22px 12px 17px;
            @include font;
            color: $text;
            text-decoration: none;
            text-transform: uppercase;
          }
          a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -3px;
            width: 100%;
            left: 0;
            border-bottom: 3px solid transparent;
          }
          &.active, &:hover {
            cursor: pointer;

            a {
              font-weight: bold;
            }
            a:after {
              border-bottom: 3px solid $control;
            }
          }
        }
      }
    }
    > .tabs-content {
      // height: 100%;
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      > ul {
        padding: 27px 0 27px 0;
        flex: 1;
        > li {
          display: none;
          &.active {
            display: block;
          }
        }

      }
      [data-link='manage-profile'] {
        padding: 0 27px;
      }
    }
    // .table-view {
    //   height: 100%;
    // }
  }
  .list-view-container {
    margin: 23px 30px 0;
    .list-view {
      max-width: 768px;
      .list-view-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        .label {
          @include font(18, 'sb');
          color: $text;
          width: 100%;
          span {
            padding-left: 4px;
          }
        }
      }
      .list-view-content {
        padding-left: 42px;
        padding-bottom: 67px;
        > li {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 12px;
          // padding: 26px 0 26px 41px;
          @include font(18, 'sb');
          color: $text;
          &:last-child {
            padding-bottom: 0;
          }
          .name {
            @include font(18, 'sb');
            color: $text;
            text-decoration: underline;
            width: 100%;
          }
          .actions {
            display: flex;
            flex-decoration: row;
          }
        }
      }
      &:last-child .list-view-content {
        padding-bottom: 0;
      }
    }
  }
}



// .page-title {
//   @include font(18, 'sb');
//   color: $text;
//   padding: 27px 33px 20px 33px;
// }
a.btn {
  display: inline-block;
  padding: 9px 20px;
  border: 0;
  border-radius: 5px;
  @include font(18, 'r');
  color: $bg2;
  text-decoration: none;
  margin:0 5px;
  white-space: nowrap;
  background-color: $link;
  &.edit {
    background-color: $highlighted_bg;
  }
  &.delete {
    background-color: $control;
  }
  &.publish {
    background-color: #3c81ca;
  }
}


.indent {
  padding: 0 27px;
}

@media (min-width: 992px) {
  main {
    .panels {
      flex-direction: row;
      .panel {
        width: 50%;
      }
    }
  }
}


