@import 'var';

/****************************** resource-list ******************************/

.resource-list {
  padding: 0 0 5px;
  > li {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      border-bottom: 1px solid $control;
    }
    .field-wrapper {
      padding-left: 22px;
    }
    .fill {
      flex: 1;
      padding-left: 22px;
      textarea {
        width: 100%;
      }
    }
    .actions {
      padding-bottom: 0px;
    }
    .sort {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: background('sort');
    }
  }
}

.sortable {
  position: relative;
}
.ui-sortable-placeholder {
  border-bottom: 0;
}
