@import 'var';
@import 'admin_places';

body.places.input_service{
  .form-container{
    form{

      input[type="radio"] + label{
        white-space: normal;
      }
      .services-list{
        text-align: center;
      }
      .services-instructions{
        padding: 20px 0;
      }
      .add-service{
        margin-top: 27px;
      }

      .fields-group.columns{
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;

        .field-wrapper{
          display: block;
          max-width: inherit;
          label.field-label{
            @include font(20, 'b');
            color: #009b72;
            margin: 20px 0 10px;
          }
        }
      }

      .instructions{
        color: #009b72;
        @include font(20);
        margin: 40px 0 0;
      }
      .services{
        columns: 4 300px;
        column-gap: 10px;
        li{
          margin-bottom: 10px;
          padding: 0;
          border-radius: 5px;
          border: 1px solid #dedede;
          background-color: #ffffff;
          padding: 18px;
          text-align: center;
          @include font(18, 'b');
          color: #373f51;
          cursor: pointer;
          &.active{
            cursor: default;
          }
          &.active, &:hover{
            background-color: #ffca74;
          }
        }
      }


      .fields-wrapper{
        border: 1px dashed #707070;
        padding: 10px 20px;
        margin-bottom: 20px;

        .fields-collection{
          display: block;
          padding: 0;
          &.indent{
            margin-left: 25px;
          }
          .fields-collection-wrapper{
            width: 100% !important;
          }
          .fields-collection-label{
            display: block;
            margin-bottom: 10px;
            width: 100%;
          }
        }
      }

      .field-wrapper {
        &.indent{
          margin-left: 25px;
          padding: 0;
        }
        .field-label.text{
          display: block;
          margin-bottom: 10px;
        }
        input, textarea, select{
          width: 100%;
        }
      }

      .geographic_area_municipalities, .acts, .age_groups, .diagnoses{
        display: none !important;
        &.active{
          display: block !important;
        }
      }
    }
  }
}

@media (min-width: 665px){
  body.places.input_service{
    .form-container{
      form{
        .services{
          li{
            padding: 24px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px){
  body.places.input_service{
    .form-container{
      form{
        input[type="radio"] + label{
          white-space: nowrap;
        }
       .fields-wrapper{
          padding: 22px 74px;
          margin-bottom: 50px;

          .fields-collection{
            display: block;
            padding: 0;
            &.indent{
              margin-left: 44px;
            }
            .fields-collection-wrapper{
              width: initial;
            }
          }
        }
        .field-wrapper {
          &.indent{
            margin-left: 44px;
          }
          input, textarea, select{
            width: 100%;
          }
        }
      }
    }
  }
}