@import 'var';
@import 'component/toggleable_list';
/****************************** faq,privacy,terms ******************************/
  .faq, .privacy_policy, .terms_of_use {
    .content {
      min-height: 100%;
      margin-bottom: -104px;
      padding-bottom: 104px;
    }
  }
  @media (min-width: 992px) {
    .faq, .privacy_policy, .terms_of_use {
      .content {
        margin-bottom: -52px;
        padding-bottom: 52px;
      }
    }
  }
