@import 'var';
@import 'component/rator';
@import 'component/map';

.content {
  section {
    &.summary-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      min-height: 340px;
      border-bottom: 1px solid #d8d8d8;
      .summary {
        width: 40%;
        max-width: 300px;
        padding: 27px 0 31px 31px;
        background-color: #e8c26b;
        color: #373f51;
        display: flex;
        flex-direction: column;
        .name {
          font: 26px/18px 'sourcesans_pro_sb';
          padding-bottom: 8px;
        }
        .provider-name {
          font: 26px/18px 'sourcesans_pro_sb';
          padding-bottom: 17px;
          span {
            font: 16px 'sourcesans_pro';

          }
        }

      }
      .place-map {
        position: relative;
        width: 100%;
        .corner {
          position: absolute;
          height: 100%;
          z-index: 3;
          pointer-events: none;
          img {
            height: 100%;
          }
        }
        .rating {
          padding: 9px 16px;
          border-radius: 3px;
          background-color: #fff;
          display: inline-block;
          position: absolute;
          top: 50%;
          z-index: 2;
          width: 13%;
          min-width: 200px;
          text-align: right;
          pointer-events: none;
          .icon.heart {
            display: inline-block;
            width: 20px;
            height: 17px;
            margin: 0 6px 0 0;
            background: transparent url(svg('heart')) no-repeat;
          }
          .value {
            font: 22px 'sourcesans_pro_b';
            color: #f38d68;
          }
          span {
            font: 16px 'sourcesans_pro';
            color: #373f51;
          }
        }


      }
    }
    &.details-wrapper {
      display: flex;
      flex-direction: row;
      .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        .action-bar {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 18px 12px 21px 52px;
          font: 18px 'sourcesans_pro_b';
          color: #373f51;
          background-color: #fff;
          > a {
            display: inline-block;
            margin-right: 80px;
            cursor: pointer;
            flex: 1;
          }
          .favoritize, .report, .take-ownership {
            &:after {
              display: inline-block;
              content: "";

              vertical-align: top;
              margin: 0 0 0 4px;
            }
            &.favoritize:after {
              width: 26px;
              height: 25px;
              background: transparent url(svg('favorite')) no-repeat;
            }
            &.report:after {
              width: 24px;
              height: 24px;
              background: transparent url(svg('report')) no-repeat;
            }
            &.take-ownership:after {
              width: 20px;
              height: 22px;
              background: transparent url(svg('ownership')) no-repeat;
            }
          }

          .share {
            .facebook {
              display: inline-block;
              content: "";
              width: 26px;
              height: 26px;
              background: transparent url(svg('facebook')) no-repeat;
              vertical-align: top;
              margin: 0 0 0 4px;
            }
            .twitter {
              display: inline-block;
              content: "";
              width: 26px;
              height: 26px;
              background: transparent url(svg('twitter')) no-repeat;
              vertical-align: top;
              margin: 0 0 0 4px;
            }
          }
        }
        .info {
          padding: 35px 52px;
          .description {
            font: 18px 'sourcesans_pro';
            color: #373f51;
            max-width: 992px;
            padding-bottom: 38px;
          }
          .tags {
            font: 18px 'sourcesans_pro';
            color: #373f51;
            max-width: 992px;
            span {
              font: 18px 'sourcesans_pro_b';
            }
            a {
              color: #009b72;
            }

          }
          .photos {
            display: none;
          }
          .contact {
            .subheader {
              font: 18px/18px 'sourcesans_pro_b';
              color: #373f51;
              padding-bottom: 10px;
            }
            .row {
              display: flex;
              flex-direction: row;
              .column {
                padding-right: 30px;
                &.bottom {
                  align-self: flex-end;
                }
              }
            }
            .group {
              display: inline-block;
              .field {
                display: block;
              }
              .field:last-child {
                padding-bottom: 0;
              }
            }
            .field {
              display: inline-block;
              padding-top: 26px;
              // &:first-child {
              //   padding-top: 0;
              // }
              label {
                display: block;
                font: 18px/18px 'sourcesans_pro';
                color: #009b72;
                padding-bottom: 7px;
                .required {
                  content: "*";
                  color: #f38d68;
                }
              }
              input {
                height: 46px;
                border: 1px solid #e2e2e2;
                border-radius: 3px;
                background-color: #fff;
                min-width: 400px;
                font: 18px/18px 'sourcesans_pro';
                color: #009b72;
              }
              textarea {
                border: 1px solid #e2e2e2;
                border-radius: 3px;
                background-color: #fff;
                min-width: 400px;
                font: 18px/18px 'sourcesans_pro';
                color: #009b72;
                padding: 0;
              }
            }
            button {
              font: 18px/18px 'sourcesans_pro';
              color: #fff;
              background-color: #009b72;
              border: 0;
              padding: 17px 34px;
              border-radius: 3px;
              min-width: 110px;
            }
          }
          .comment {}
          .hr {
            width: 100%;
            height: 1px;
            background-color: #d8d8d8;
            margin: 52px 0 27px;
          }
        }
      }
      > .photos {
        background-color: #fff;
        min-width: 370px;
        padding: 0 30px;
        .upload {
          background-color: rgba(0, 155, 114, .7);
          height: 206px;
          width: 100%;
          font: 18px 'sourcesans_pro';
          color: #fff;
          text-align: center;
          margin-bottom: 20px;
          img {
            display: block;
            margin: 0 auto;
            padding: 56px 0 32px;
          }
        }
        .picture {
          height: 206px;
          width: 100%;
          background-color: rgba(125, 155, 114, .7);
          margin-bottom: 20px;
        }
      }
    }

  }
}


@media (min-width: 992px) {
    .box.map-point {
      width: 45%;
      background: transparent url(svg('corner')) no-repeat;
      padding: 30px 0 40px;
    }
  }
