@import 'var';
@import 'component/place_card';
@import 'component/favoritor';
@import 'component/favorite';
@import 'component/rating';
@import 'component/rating5';
@import 'component/rator';
@import 'component/service';
@import 'component/toggleable_list';
@import 'select2';


$child: #ffca74;
$adult: #d8d8d8;
$filter-bg: #eeeeee;
/****************************** main ******************************/

main {
  &.stop_events {
    pointer-events: none;
    .filter-service {
      pointer-events: all;
      &.highlighted .input-group{
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      }
    }
  }
  // display: flex;
  // flex-direction: column; //row
  section.content {
    display: block;
    // display: flex;
    // flex-direction: column;
    // border-right: 1px solid $border;
    // padding: 0 0 0 16px;
    .search {
      padding: 15px 14px 36px 14px;
      max-width: 784px;
      // padding: 30px 30px 20px;
      // display: flex;
      // flex-direction: row;
      // align-items: flex-end;1
      input {
        min-height: 46px;
      }
      input[type='text'] {
        @include font;
        color: $link;
        padding: 13px 15px 12px;
        border: 1px solid #e2e2e2;
        background-color: $bg2;
        width: 100%;
      }
      label {
        display: block;
        @include font(16);
        color: #000000;
        padding: 0 0 8px 16px;
      }
      .search-input {
        display: block;
        width: 100%;
        &:nth-child(1)  {
          padding-bottom: 18px;
          margin-right: 3px;
          .search-group {
            display: flex;
            flex-direction: row;
          }
          .en2ka {
            position: relative;
            width: 100%;
            .en2ka-switcher {
              position: absolute;
              top: 1px;
              bottom: 1px;
              left: 0;
              padding: 16px 10px 0;
              @include font(16);
              color: $text;
              border-right: 1px solid $border2;
              cursor: pointer;
            }
          }
          input[type='text'] {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            &:lang(ka) {
              padding-left: 50px !important;
            }
          }
          input[type='submit'] {
            @include font;
            color: $bg2;
            padding: 15px 30px;
            background-color: $link;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border: 0;
            height: 46px;
            cursor: pointer;
            &:lang(en) {
              height: 50px;
            }
            // margin-bottom: -1px;
            // width: 20%;
          }
        }
      }
    }
    .filter-row1 {
      margin: 0 14px;
      max-width: 784px;
      background-color: $filter-bg;
      .search-input {
        display: block;
        width: 100%;
        &:nth-child(1)  {
          flex-grow: 2;
          margin-right: 3px;
          input[type="radio"]{
            display: none;
          }
          label {
            min-height: 44px;
            display: inline-block !important;
            @include font(20, 'sb');
            color: #373f51;
            padding: 10px 15px;
            opacity: 0.5;
            margin-top: -6px;
            border-top: 6px solid $bg;
            &.child{
              background-color: $child;
            }
            &.adult{
              background-color: $adult;
              margin-left: -3px;
            }
            i {
              display: inline-block;
              width: 33px;
              height: 35px;
              min-width: 33px;
              margin: 0 8px 0 0;
              vertical-align: middle;
              background-color: transparent;
              background-repeat: no-repeat;
              &.adult { background-image: url(svg('adults')); }
              &.children { background-image: url(svg('children')); }
            }
          }
          input[type="radio"]:checked + label{
            opacity: 1;
            &.child{
              border-top-color: $child;
            }
            &.adult{
              border-top-color: $adult;
            }
          }
          // turn off styling of general radion buttons from app.css file
          input[type="radio"] + label:before {
            all: unset;
          }
          input[type="radio"]:checked + label:before {
            all: unset;
          }

        }
        &:nth-child(2) {
          flex-grow: 1;
          .select2-container--default {
            font-size: 0;
          }
          .select2-container--default .select2-selection--multiple {
            border: 0;
            border-radius: 0;
            background-color: transparent;

            padding: 0;
            .select2-selection__rendered li {
              width: 100%;
            }
            // padding: 11px 15px;
            input {
              @include font(22);
              color: #6b6b6b;
              border-radius: 0;
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
              padding: 13px 15px 12px;
              width: 100%;
              min-height: 44px;
              text-align: right;
            }

          }
          .select2-container .select2-search--inline .select2-search__field {
            margin-top: 0;
          }
          .select2-container--default .select2-selection--multiple {
            .select2-selection__choice__remove {
              float: right;
              margin-left: 2px;
              margin-right: 0;
            }
            .select2-selection__choice + .select2-search {
              border-top: 1px solid $border2;
            }
            .select2-selection__choice {
              @include font;
              color: #6b6b6b;
              background-color: transparent;
              border: 0;
              border-radius: 0;
              cursor: default;
              float: none;
              margin-right: 0;
              margin-top: 0;
              padding: 0;
              display: inline-block;
              padding: 6px 10px;
              // padding-right: 10px;
              // padding-bottom: 10px;
            }
            .select2-selection__clear {
              float: none;
              margin-top: 0;
              margin-right: 0;
              position: absolute;
              top: 6px;
              right: 6px;
            }
            .select2-selection__rendered {
              white-space: normal;
              padding: 0;
              border: 1px solid #e2e2e2;
            }

          }
          .select2-container .select2-search--inline .select2-search__field {
            width: 100% !important;
          }
        }
      }
    }
    .filter-row2 {
      margin: 20px 14px 3px;
      max-width: 784px;
      @include font(18, 'sb', 33);
      .search-input {
        display: block;
        width: 100%;
        clear: both;
        .favoritor-container{
          display: inline-block;
          float: right;
          margin-right: 31px;
          label{
            display: inline-block;
          }
          .favoritor{
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
    .services {
      margin: 0 14px;
      max-width: 784px;
      > ul.toggleable-list {
        padding: 0;
        > li {
          padding: 0;
          border-bottom: 1px solid #f38d68;
          > a{
            @include font(22, 'sb', 55);
            > i{
              margin: 17px 13px 0;
            }
            > span.name{
              all: unset;
              margin: 0 8px;
            }
          }
          > ul{
            margin-left: 84px;
            padding-top: 0;
            > li{
              @include font(18, 'r', 55);
            }
          }
        }
      }
    }
    .info {
      // padding: 16px 40px 14px;
      padding: 0 18px 0 14px;
      // min-width: 784px;
      @include font(16);
      color: $text;
      text-align: right;
      display: flex;
      flex-direction: row;
      .map-view {
        white-space: nowrap;
        @include font(16);
        color: $link;
        text-decoration: underline;
        i {
          display: inline-block;
          margin-left: 4px;
          width: 13px;
          height: 16px;
          background: background('pin');
          background-size: 13px 16px;
          vertical-align: middle;
        }
      }
      .list-view {
        white-space: nowrap;
        @include font(16);
        color: $link;
        text-decoration: underline;
        i {
          display: inline-block;
          margin-left: 4px;
          width: 13px;
          height: 16px;
          background: background('list');
          background-size: 13px 16px;
          vertical-align: middle;
        }
      }
      .count {
        @include font(16);
        color: $text;
        width: 100%;
      }
      > * {
        padding: 16px 0 12px;
      }
    }
    .result-container {
      overflow-y: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      &.loader {
        overflow: hidden;
      }
      &.loader:before {
        position: absolute;
        content: "";
        background-color: rgba(0,0,0,0.4);
        z-index: 2;
        width: 100%;
        height: 100%;
      }
      &.loader:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background: background_gif('loader');
        width: 32px;
        height: 55px;
        z-index: 3;
      }
      .result {
        padding: 0 14px;
        flex: 1;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        max-width: 784px;
        margin: 0 auto;
        width: 100%;
        .not-found {
          @include font(16);
          color: $text;
        }
        // .region-places {
        //   }
        .region {
          border-top: 1px solid $control;
          .region-name {
            @include font(18, 'sb');
            color: $link;
            cursor: pointer;
            padding: 16px 16px 18px;
            .caret {
              display: inline-block;
              width: 12px;
              height: 8px;
              margin-left: 9px;
              background: background('arrows');
              background-position: -13px 0;
            }
            .region-count {
              @include font(16);
              color: $text;
              float: right;
            }
          }

          &.collapsed {
            .region-name {
              color: $text;
            }
            .caret {
              background-position: 0 0;
            }
          }
          &:first-child {
            border-top: 0;
          }
        }
        &.plain {
          .region {
            display: none;
          }

        }
      }
      footer {
        display: none;
      }
    }
  }
  section.mapper {
    .map {
      min-height: 270px;
    }
  }
  .mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 992px) {
  main {
    display: flex;
    flex-direction: row;
    section.content {
      display: flex;
      flex-direction: column;
      border-right: 1px solid $border;
      overflow-y: auto;
      .result-container {
        overflow-y: initial;
        footer {
          display: inherit;
        }
      }
    }
    section.mapper {
      width: 100%;
    }
    > footer {
      display: none;
    }

    .mobile-hidden {
      display: inherit !important;
    }

    .info {
      .list-view, .map-view {
        display: none !important;
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: row;
    section.content {
      overflow-y: initial;
      .search {
        padding: 30px 30px 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .search-input {
          flex: 1;

          &:nth-child(1)  {
            input[type='submit'] {
              border-radius: 0;
            }
          }
        }
      }
      .filter-row1 {
        margin: 0 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .search-input {
          flex: 1;

          &:nth-child(1)  {
            input[type='submit'] {
              border-radius: 0;
            }
          }
        }
      }
      .filter-row2{
        margin: 20px 30px 3px;
      }
      .services{
        margin: 0 30px;
      }
      .info {
        padding: 0 40px 0;
        min-width: 784px;
        > div {
          padding: 16px 0 14px;
        }
      }
      .result-container {
        overflow-y: auto;
        .result {
          padding: 0 19px;
        }
      }
    }
  }
}


.select2-container--default.select2-container--open {
  .select2-dropdown{
    background-color: $filter-bg;
  }
  .select2-results__option--highlighted[aria-selected]{
    background-color: $link;
    color: white;
  }
}
