<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<strong>
  <% if @user[:name] %>
      <%= t('mailer.dear', name: @user[:name]) %>
  <% else %>
      <%= t('session.hello') %>
  <% end %>
</strong>

<p>
  <%= t('mailer.user_is_admin_html', site_name: @site_name, new_role: @new_role) %>
</p>

<p>
  <%= t('mailer.signature', name: @site_name) %>
</p>
</body>
</html>