<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<strong>
  Hello
</strong>

<p>
  <%= "This is a test for #{@user_email} with password #{@password}" %>
</p>

<p><%= t('mailer.thanks') %><br />
  <%= t('mailer.signature', name: @site_name) %></p>
</body>
</html>