<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= t('session.hello') %></p>

<p>
<%= t('mailer.service_just_updated', sitename: @site_name, title: @ad.title ) %>
</p>

<p>
  <%= t('mailer.review_it_html', link: (link_to t('ad.here'), @ad_edit_path)) %><br />
</p>

<p>
  <%= t('mailer.thanks_short') %>
</p>
</body>
</html>