- if controller_name == 'admin' && action_name == 'provider_profile'
  = render partial: 'shared/breadcrumbs', locals: { paths: [[t('admin.place.index.title'), manage_provider_profile_path(page: :'manage-places')], t('.title')] }
= render partial: 'admin/places/form', locals: { page: 'new', obj: item }
