- place ||= nil
- item ||= nil

%ul.services{data: {link: manage_place_input_service_path(place, '[item_id]', ids: params[:ids])}}
  - session_services = []
  - if params[:ids].present?
    - session_services = place.place_services.where(id: params[:ids])
  - else
    - session_services << item
  - session_services.each do |session_service|
    %li{class: (session_service.id.to_s == params[:id] ? 'active' : ''), data: {id: session_service.id}, title: (session_service.id.to_s == params[:id] ? t('.service_current') : t('.service_link'))}
      =session_service.service.name
