- if controller_name == 'admin' && action_name == 'provider_profile'
  = render partial: 'shared/breadcrumbs', locals: { paths: [[t('admin.menu.manage_provider'), manage_provider_profile_path(page: 'manage-provider')], t('admin.edit_object', obj: Provider)] }
= render 'admin/providers/form', page: 'edit', obj: [:provider, @item]
