- if controller_name == 'admin' && action_name == 'provider_profile'
  = render partial: 'shared/breadcrumbs', locals: { paths: [[t('admin.page_contents.index.title'), manage_page_contents_path], t('.title')] }
= render partial: 'form', locals: { page: 'new', obj: [:manage, @item] }
