- title = t('admin.providers.create')
- redirect_default = true unless redirect_default == true || redirect_default == false
- item = @item || item
- if redirect_default
  - page_title title
  - path = manage_providers_path
  - url = manage_providers_path
- else
  - path = manage_provider_profile_path(page: :'manage-providers')
  - url = manage_create_provider_path

= render partial: 'shared/breadcrumbs', locals: { paths: [[t('admin.providers.manage'), path], title] }
= render partial: 'admin/providers/form', locals: { obj: [:manage, item], redirect_default: redirect_default, url: url }
