#flash.flash
  .button
    %button.close{:type => "button"} ×
  %ul.messages
    - if !flash.empty?
      - flash.each do |key, value|
        %li.message
          .flag{class: key}
          .text #{value}
