- flashes = flash.to_a
#flash.flash{'data-flash-type': flashes.present? ? flashes[0][0] : nil}
  .button
    %button.close{:type => "button"} ×
  %ul.messages
    - if flashes.present?
      - flashes.each do |f|
        %li.message
          .flag{class: f[0]}
          .text= f[1]
