- rate ||= 0
- label ||= t('app.common.rate')
- is_filter ||= false
.rator-container
  %label=label
  .rator{{"data-r": rate}.merge(rator||={})}
    .heart{"data-r": 1}
      %i
      .heart{"data-r": 2}
        %i
        .heart{"data-r": 3}
          %i
          .heart{"data-r": 4}
            %i
            - if is_filter
              .heart-dummy
                %i
            - else
              .heart{"data-r": 5}
                %i
    - if is_filter
      .up= t('shared.and_up')
    .reset
