.rator-container
  %label=t('app.common.rate')
  .rator{"data-r": 3}
    .heart{"data-r": 1}
      %i
      .heart{"data-r": 2}
        %i
        .heart{"data-r": 3}
          %i
          .heart{"data-r": 4}
            %i
            .heart{"data-r": 5}
              %i
    .close
