- rating ||= '-'
- with_label ||= false
- klass ||= nil
.rating{class: klass}
  - if with_label
    %label= t('shared.rating')
  .value{title: t('shared.overall_rating', rating: rating)}
    %span=rating
    = t('shared.rating_threshold', n: rating_threshold)
