<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div style="padding-bottom: 30px">
        <h3><%= t('home.faq_page') %></h3>
      </div>

      <div class="col-lg-12">
        <!-- Website FAQ - to be set in admin panel -> 'Manage FAQ' -->
        <% Faq.all.order('id asc').each do |faq| %>
            <div class="faq_section">
              <h4><%= faq.question %></h4>
              <p><%= simple_format(faq.answer) %></p>
            </div>
        <% end %>
        <% if Faq.all.count == 0 %>
            <div class="faq_section">
              <p><i><%= t('admin.no_question') %></i></p>
            </div>
        <% end %>
      </div>

    </div>

  </div>

</div>

<div id="push"></div>