.place-card {
  padding: 0 19px;

  .card-border {

    border: 1px solid #eaba6b;
    // border: 3px solid transparent;
    position: relative;

    &:after {
      content: "";
      position:absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 3px solid transparent;
      pointer-events: none;
    }
    &:hover:after {
       border: 3px solid #eaba6b;
    }
  }
  .card {
    padding: 9px;
    min-width: 327px;
    max-width: 327px;
    display: inline-block;
    position: relative;
    .front {

    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      .services {
        padding: 20px 22px;
      }
      .close {
        position: absolute;
        top: 16px;
        right: 10px;
        background: transparent url(/assets/svg/close.svg) no-repeat;
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }

    .poster {
      position: relative;
      padding-bottom: 12px;
      .image {
        width: 100%;
        // max-width: 309px;
        // max-height: 206px;
      }
      .favorite {
        position: absolute;
        top: 7px;
        right: 4px;
      }
      .rating {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      padding: 0 0 4px 1px;
      .name {
        font: 18px 'sourcesans_pro_sb';
        color: #009b72;
        text-decoration: underline;
      }
      .provider {

        padding-bottom: 12px;
        a {
          font: 18px 'sourcesans_pro_sb';
          color: #009b72;
          text-decoration: underline;
        }
        span {
          font: 12px 'sourcesans_pro';
          color: #373f51;
        }
      }
      .first-service {
        display: flex;
        flex-direction: row;
        font: 18px/18px 'sourcesans_pro';
        color: #373f51;
        align-items: center;
        padding-bottom: 17px;
        strong {
          flex: 1;
          display: inline-block;
          white-space: nowrap;
          text-overflow: clip;
        }
        .ellipsis {
          margin-right: 13px;
          width: 30px;
          height: 10px;
          background: transparent url('/assets/svg/ellipsis.svg') no-repeat center;
          cursor: pointer;
          &:hover {
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 2px;
          }
        }
      }
      .services {

      }
      .contact {
        // height: 100%;
        justify-content: flex-end;
        .address {

        }
        .phone {

        }
      }
    }

  }
  .rate {
    padding-top: 11px;
  }
}
