/****************************** vars ******************************/

  /* colors */

    $bg: #f4f4f4;

    $highlighted_bg: #e8c26b;

    $text: #373f51;

    $control: #f38d68;

    $link: #009b72;

    $border: #d8d8d8;

@function svg($file_name) {
  @return '/assets/svg/' + $file_name + '.svg';
}

@function png($file_name) {
  @return '/assets/png/' + $file_name + '.png';
}

@mixin font($font: 'r', $size: 18) {
  $font_name: 'sourcesans_pro';
  @if ($font == 'b') {
    $font_name: 'sourcesans_pro_b'
  } @else if ($font == 'sb'){
    $font_name: 'sourcesans_pro_sb';
  } @else if ($font == 'l'){
    $font_name: 'sourcesans_pro_l';
  } @else if ($font == 'li'){
    $font_name: 'sourcesans_pro_li';
  } @else if ($font == 'i'){
    $font_name: 'sourcesans_pro_i';
  }

  font: $size + px $font_name;
}

@mixin color($color: $text) {
  color: $color;
}
