- if favorite_places.length > 0
  .grid-view
    - favorite_places.each do |place|
      = render partial: 'shared/place', locals: { place: place, all_favorite: true }
- else
  .no-data-found= t('shared.no_data_found')
