- if favorite_places.length > 0
  .grid-view
    - favorite_places.each do |place|
      = render partial: 'shared/place', locals: { place: place, favoritor: true }
- else
  .msg-no-data= t('app.messages.no_data', obj: t('admin.menu.favorite_places'))
