- if rated_places.length > 0
  .grid-view
    - rated_places.each do |place|
      = render partial: 'shared/place', locals: { place: place, with_rator: true }
- else
  .msg-no-data= t('app.messages.no_data', obj: t('admin.menu.rated_places'))
