%main{class: @class}
  - if @is_admin_profile_page
    - space = false
    %section.aside
      = render partial: "application/admin_menu"
    %section.content{class: space ? 'space' : nil}
      = yield
      = render partial: "shared/footer"
  - else
    = yield
