.form-group
  = form.label field, t("#{translate_path}"), class: 'control-label'
  - if options.present? && options[:message].present?
    %span #{options[:message]}
  .field
    = form.password_field field, class: 'form-control', autocomplete: 'off'
