.field
  = form.label field, t("#{translate_path}")
  - if options.present? && options[:message].present?
    %span #{options[:message]}
  = form.password_field field, class: 'value', autocomplete: 'off'
