@import 'var';

ul.contact {
  li {
    padding-bottom: 4px;
    &.websites {
      white-space: normal;
    }
    i {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 8px 0 0;
      &.address { background: background('address'); }
      &.phone { background: background('phone'); }
      &.phone2 { background: background('phone2'); }
      &.website { background: background('website'); }
      &.fb { background: background('fb'); }
    }
    a, span {
      @include font(16);
      color: $text;
    }
    span {
      display: inline;
    }
  }

}


@media (min-width: 1200px) {
  ul.contact {
    li {
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
    }
  }
}
