ul.contact {
  @include font(16);
  color: $text;
  li {
    padding-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  span.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
    &.address { background: background('address'); }
    &.phone { background: transparent url(svg('phone')) no-repeat; }
    &.website { background: transparent url(svg('website')) no-repeat; }
  }
}

