@import 'var';
@import 'component/fields_to_translate';

main.devise {
  padding-top: 42px;
  text-align: center;
  background-color: $bg;
}
.devise-form {
  display: inline-block;

  // max-height: 500px;
  border: 1px solid $border;
  background-color: $bg2;
  &.wide {
    // width: 100%;
    border: 0;
    // max-width: 100%;
  }
  &.autonomous {
    padding: 42px 36px 36px;
    position: absolute;
    top: 100%;
    right: -1px;
    border-top: 0;
    margin-top: 1px;
    max-width: 400px;
  }
  &.non-autonomous {
    max-width: 600px;
    padding-bottom: 42px;
    form > .field {
      padding: 0 27px 22px;
    }
    hr {
      margin: 30px -36px 34px;
    }

  }

  .header {
    @include font;
    color: $text;
    text-align: left;
    padding-bottom: 30px;
  }
  .group {
    border-bottom: 1px solid $border;
    padding: 0 27px 30px;
    // margin-bottom: 4px;// 30px -36px 34px;
    .field {
      padding-bottom: 22px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    .fields-to-translate {
      margin: 0 -27px;
    }
    & + .group {
      padding-top: 34px;
    }
  }
  .field {
    text-align: left;
    &.email, &.remember-me {
      padding-bottom: 30px;
    }
    &.user_has_agreed {
      @include font;
      color: #3a3a3a;
      a {
        @include font(18);
        color: $control;
      }
    }
    &.password {
     padding-bottom: 8px;
     .forgot {
      float: right;
      @include font;
      color: $control;
      text-decoration: underline;
     }
    }
    label {
      display: block;
      @include font;
      color: $link;
      text-align: left;
      padding: 0 0 8px 2px;
    }
    input {
      @include font;
      color: $text;
      background-color: $bg;
      border: 1px solid $border2;
      border-radius: 3px;
      // border: 0;
      padding: 10px 6px;
      min-width: 300px;
    }
  }
  .actions {
    padding: 14px 0 0;
    .action-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    input {
      cursor: pointer;
      &[disabled] {
        opacity: .2;
      }
    }
    input[type='submit'] {
      @include font;
      color: #ffffff;
      background-color: $link;
      padding: 14px 28px;
      border: 0;
      border-radius: 3px;
      margin-right: 16px;
    }
    input[type='reset'] {
      @include font;
      color: #878787;
      background-color: transparent;
      text-decoration: underline;
      border: 0;
    }
    .sign_up {
      text-align: left;
      @include font;
      color: $control;
      text-decoration: underline;
      padding-top: 30px;
    }
    span {
      @include font;
      color: #878787;
    }
  }
  .text {
    @include font(18);
    color: #3a3a3a;
    text-align: left;
    &.help {
      padding: 10px 27px;
      @include font(16, 'r', 22);
      span {
        @include font(16, 'b');
        color: #3a3a3a;
      }
      a {
        @include font(16);
        color: $link;
      }
    }
    a {
      @include font(18);
      color: $control;
    }
    & + .text {
      padding-top: 12px;
    }
  }
}
