@import 'var';

/****************************** dialog ******************************/
  dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 61;
    background-color: rgba(55, 63, 81, .8); // #373f51;
    display: none;
    &[open] { display: block; }
    .dialog-close {
      position: absolute;
      top: 83px;
      right: 16px;
      // padding: 28px 21px;
      text-align: right;
      a {
        display: inline-block;
      }
    }
    .dialog-bg {
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .dialog-content {
      position: relative;
      background-color: #f4f4f4;
      z-index: 2;
      max-width: 992px;
      height: auto;
      max-height: 100%;
      margin: 0 auto;
      overflow-y: auto;
      padding-top: 75px;
    }
    .dialog-page {
      display: none;
      &[data-showing] {
        display: block;
      }
      .header {
        @include font(22, 'sb', 18);
        color: $link;
        text-align: center;
        padding:20px 50px 31px;
        text-transform: uppercase;
      }
      &[data-bind='about'] {
        .header {
          &.partners {
            @include font(24, 'sb', 18);
            color: $control;
          }
        }
        .text {
          padding: 0 16px;
          p {
            @include font;
            color: $text;
            padding-bottom: 25px;
          }
          a {
            color: $link;
            text-decoration: underline;
          }
        }
        .hr-wrapper {
          width: 100%;
          padding: 0 16px;
          .hr {
            height: 1px;
            background-color: $control;
          }
        }
        .partners-list {
          text-align: center;
          a {
            display: inline-block;
            margin: 0 20px 34px;
            vertical-align: middle;
            img {
              height: 90px;
            }
          }
        }
      }
      &[data-bind='contact'] {
        .boxes {
          display: flex;
          flex-direction: column;
          min-height: 100%;
          .box.info {
            width: 100%;
            background-color: #e8c26b;
            padding: 27px 0 33px 0;
            .name {
              @include font(26, 'sb', 28);
              color: $text;
              padding: 0 0 29px 20px;
            }
            .info-item {
              @include font(19, 'r', 19);
              color: $text;
              padding: 4px 12px;
              img {
                padding-right: 12px;
              }
            }
          }
        }
      }
      &[data-bind='place_report'] {
        .form {
          padding: 0 40px;
          text-align: center;
          textarea {
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            @include font;
            color: $text;
            background-color: $bg2;
            padding: 6px 8px;
            min-width: 300px;
            width: 100%;
          }
          button {
            @include font;
            color: $bg2;
            background-color: $link;
            border: 0;
            padding: 17px 34px;
            border-radius: 3px;
            min-width: 110px;
            margin: 20px 0 40px;
          }
        }

      }
      &[data-bind='place_ownership'] {
        text-align: center;
        .or {
          @include font(18, 'r', 18);
          color: $text;
          text-align: center;
          padding-bottom: 22px;
        }
      }
      &[data-bind='sign_in'], &[data-bind='forgot'] {
        text-align: center;
        padding:20px 10px 31px;
      }
    }
  }

  @media (min-width: 992px) {
    dialog {
      .dialog-close {
        top: 103px;
        right: 21px;
      }
      .dialog-page {
        .header {
          padding:45px 50px 31px;
        }
        &[data-bind='contact'] {
          .boxes {
            flex-direction: row;
            padding: 0 0 65px;
            .box {
            }
            .box.info {
              width: 55%;
              padding: 95px 0 0 56px;
              .name {
                padding: 0 0 33px;
              }
              .info-item {
                padding: 4px 0;
              }
            }
            .box.map-point {
              width: 45%;
              background: background('corner');
              padding: 30px 0 40px;
            }
          }
        }
        &[data-bind='about'] {
          .text {
            padding: 0 40px;
          }
          .hr-wrapper {
            padding: 0 27px;
          }
          .partners-list {
            padding-bottom: 95px;
            a {
              margin: 0 20px;
            }
          }
        }
      }
    }
  }
