@import 'var';

/****************************** dialog ******************************/
  dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 61;
    background-color: rgba(55, 63, 81, .8); // #373f51;
    display: none;
    &[open] { display: block; }
    .dialog-close {
      position: absolute;
      top: 83px;
      right: 16px;
      // padding: 28px 21px;
      text-align: right;
      a {
        display: inline-block;
      }
    }
    .dialog-bg {
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .dialog-content {
      position: relative;
      background-color: #f4f4f4;
      z-index: 2;
      max-width: 992px;
      height: auto;
      max-height: 100%;
      margin: 0 auto;
      overflow-y: auto;
      padding-top: 75px;
    }
    .dialog-page {
      display: none;
      &[data-showing] {
        display: block;
      }
      &[data-bind='about'] {
        .header {
          text-align: center;
          padding:20px 0 31px;
          &.about {
            font: 22px/18px 'sourcesans_pro_sb';
            color: #009b72;
            text-transform: uppercase;
          }
          &.partners {
            font: 24px/18px 'sourcesans_pro_sb';
            color: #f38d68;
            text-transform: uppercase;
          }
        }
        .text {
          padding: 0 16px;
          p {
            font: 18px 'sourcesans_pro';
            color: #373f51;
            padding-bottom: 25px;
          }
          a {
            color: #009b72;
            text-decoration: underline;
          }
        }
        .hr-wrapper {
          width: 100%;
          padding: 0 16px;
          .hr {
            height: 1px;
            background-color: #f38d68;
          }
        }
        .partners-list {
          text-align: center;
          a {
            display: inline-block;
            margin: 0 20px 34px;
          }
        }
      }
      &[data-bind='contact'] {
        .header {
          font: 22px 'sourcesans_pro_sb';
          color: #009b72;
          padding: 20px 0 31px;
          text-align: center;
        }
        .boxes {
          display: flex;
          flex-direction: column;
          min-height: 100%;
          .box.info {
            width: 100%;
            background-color: #e8c26b;
            padding: 27px 0 33px 0;
            .name {
              font: 26px/18px 'sourcesans_pro_sb';
              color: #373f51;
              padding: 0 0 29px 20px;
            }
            .info-item {
              font: 19px/19px 'sourcesans_pro';
              color: #373f51;
              padding: 4px 12px;
              img {
                padding-right: 12px;
              }
            }
          }
          .box.map-point {
            width: 100%;
            min-height: 270px;
            .map-box {
              position: relative;
              width: 100%;
              height: 270px;
              #contact_map {
                width: 100%;
                height: 100%;

              }
              .contact_map_zoom {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border:1px solid #d8d8d8;
                border-radius: 3px;
                position: absolute;
                top: 11px;
                right: 16px;
                text-align: center;
                z-index: 9000;
                .in, .out {
                  font: 18px/10px 'sourcesans_pro_b';
                  color: #444d5e;
                  cursor:pointer;
                  padding: 9px;
                }
                .hr {
                  display: block;
                  width: 18px;
                  height: 1px;
                  background-color: #d8d8d8;
                  margin: 0 auto;
                }
                .in:after {


                }
                .out{
                }
              }

              // max-height: 270px;
            }
          }
        }
      }

    }
  }

  @media (min-width: 992px) {
    dialog {
      .dialog-close {
        top: 103px;
        right: 21px;
      }
      .dialog-page {
        &[data-bind='contact'] {
          .boxes {
            display: flex;
            flex-direction: row;
            padding: 60px 0 65px;
            .box {
            }
            .box.info {
              width: 55%;
              background-color: #e8c26b;
              padding: 95px 0 0 56px;
              .name {
                font: 26px/18px 'sourcesans_pro_sb';
                color: #373f51;
                padding: 0 0 33px;
              }
              .info-item {
                font: 19px/19px 'sourcesans_pro';
                color: #373f51;
                padding: 4px 0;
                img {
                  padding-right: 12px;
                }
              }
            }
            .box.map-point {
              width: 45%;
              background: transparent url(svg('corner')) no-repeat;
              padding: 30px 0 40px;
              .map-box {
                position: relative;
                width: 100%;
                height: 100%;
                // height: 270px;
                min-height: 270px;
                #contact_map {
                  width: 100%;
                  height: 100%;

                }
                .contact_map_zoom {
                  display: flex;
                  flex-direction: column;
                  background-color: #fff;
                  border:1px solid #d8d8d8;
                  border-radius: 3px;
                  position: absolute;
                  top: 11px;
                  right: 16px;
                  text-align: center;
                  z-index: 9000;
                  .in, .out {
                    font: 18px/10px 'sourcesans_pro_b';
                    color: #444d5e;
                    cursor:pointer;
                    padding: 9px;
                  }
                  .hr {
                    display: block;
                    width: 18px;
                    height: 1px;
                    background-color: #d8d8d8;
                    margin: 0 auto;
                  }
                  .in:after {


                  }
                  .out{
                  }
                }

                // max-height: 270px;
              }
            }
          }
        }
        &[data-bind='about'] {
          .header {
            padding:45px 0 31px;
          }
          .text {
            padding: 0 40px;
          }
          .hr-wrapper {
            padding: 0 27px;
          }
          .partners-list {
            padding-bottom: 95px;
            a {
              margin: 0 20px;
            }
          }
        }
      }
    }
  }
