@import 'var';

.favoritor {
  width: 26px;
  height: 25px;
  margin: 0 auto;
  background: background('favorite');
  background-position: -27px 0;
  cursor: pointer;
  &[data-f=true], &:hover {
    background-position: 0 0;
  }
  &[data-f=true]:hover {
    background-position: -27px 0;
  }
}
