@import 'var';

/****************************** flash ******************************/
  .flash {
    display: none;
    position: fixed;
    z-index: 91;
    right: 20px;
    bottom: 16px;

    background-color: $bg;
    // border-right: 0;
    // border-bottom: 0;
    &[open] {
      display: block;
    }
    &[data-flash-type='error'], &[data-flash-type='alert'] {
      border: 3px solid $control;
    }
    &[data-flash-type='success'] {
      border: 3px solid $link;
    }
    &[data-flash-type='notice'] {
      border: 3px solid $highlighted_bg;
    }
    .button {
      width: 100%;
      text-align: right;
      .close {
        background-color: transparent;
        color: $text;
        border: 1px solid #d4d4d4;
        border-top: 0;
        cursor: pointer;
        margin-right: 8px;
      }
    }
    .messages {
      list-style: none;
      // padding: 6px 0;
      padding: 6px 16px;
      // width: 100%;
      max-width: 400px;
      .message {
        padding-bottom: 6px;
        border-bottom: 1px solid $border;
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        &:last-child {
          border-bottom: 0;
        }
        .text {
          @include font(16, 'l');
          color: $text;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .flag {
          display: inline-block;
          min-width: 3px;
          background-color: $border;
          margin-right: 6px;
          &.success {
            background-color: $link;
          }
          &.notice {
            background-color: $highlighted_bg;
          }
          &.error, &.alert {
            background-color: $control;
          }
        }
      }

    }
  }
