@import 'var';

/****************************** flash ******************************/
  .flash {
    display: none;
    position: fixed;
    z-index: 91;
    right: 0;
    bottom: 0;
    padding: 0 16px;
    border: 1px solid #d8d8d8;
    background-color: #f4f4f4;
    border-right: 0;
    border-bottom: 0;
    max-width: 400px;
    &[open] {
      display: block;
    }
    .button {
      width: 100%;
      text-align: right;
      .close {
        background-color: transparent;
        color: #a2a2a2;
        border: 1px solid #d8d8d8;
        border-top: 0;
        cursor: pointer;
      }
    }
    .messages {
      list-style: none;
      padding: 6px 0;

      .message {
        padding-bottom: 6px;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        &:last-child {
          border-bottom: 0;
        }
        .text {
          font: 16px 'sourcesans_pro_l';
          color: #373f51;
        }
        .flag {
          display: inline-block;
          min-width: 3px;
          background-color: #d8d8d8;
          margin-right: 6px;
          &.success {
            background-color: #009b72;
          }
          &.notice {
            background-color: #eaba6b;
          }
          &.error, &.alert {
            background-color: #f38d68;
          }
        }
      }

    }
  }
