@import 'var';
@import 'component/fields_localization';

.form-container {
  display: inline-block;
  max-width: 600px;
  flex: 1;
  align-self: center;
  &.pad {
    padding-top: 42px;
  }
  &.border {
    form {
      padding: 42px 36px 36px;
      border: 1px solid $border;
    }
  }
  &.wide {
    max-width: 100%;
  }
  &.autonomous {
    // padding: 42px 36px 36px;
    position: absolute;
    top: 100%;
    right: -1px;
    background-color: $bg2;
    form {
      margin-top: 1px;
      border-top: 0;
    }
    // max-width: 400px;
  }
  // &.non-autonomous {

  //   padding-bottom: 42px;
  //   form > .field {
  //     padding: 0 27px 22px;
  //   }
  //   hr {
  //     margin: 30px -36px 34px;
  //   }
  // }

  form {
    text-align: left;
    // display: inline-block;
    // width: 100%;
    .field-wrapper {
      display: block;
      padding-bottom: 22px;
      // display: flex;
      // flex-direction: column;
      // align-items: flex-start;
      // padding-bottom: 8px;
      // padding-bottom: 12px;
      max-width: 768px;
      .field-label {
        display: block;
        @include font(18, 'b');
        color: $text;
        // padding: 0 0 8px 2px;
        padding-bottom: 8px;
        padding-left: 2px;
        // padding:0 14px 0 0;
        // text-align: left;
        // width: 45%;
      }
      .field-input {
        // width: 55%;
        // margin-right: 10px;
      }
      input, textarea, select {
        height: 46px;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        @include font;
        color: $text;
        background-color: $bg2;
        padding: 6px 8px;
        min-width: 300px;
      }
      textarea {
        height: 100%;
      }
      &.user_password {
        padding-bottom: 8px;
      }
      &.radios {
        display: flex;
        flex-direction: row;
        .field-label {
          padding-right: 20px;
        }
        .radio {
          padding-right: 30px;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      .forgot {
        float: right;
        @include font(18);
        color: $control;
      }
    }
    .actions {
      text-align: center;
      // padding: 0;
      // padding-top: 85px;
      // padding-bottom: 27px;
      padding-top: 14px;
      padding-bottom: 30px;
      input {
        cursor: pointer;
        &[disabled] {
          opacity: .2;
        }
      }
      button {
        @include font;
        color: $bg2;
        background-color: $link;
        border: 0;
        padding: 17px 34px;
        border-radius: 3px;
        min-width: 110px;
      }
      input[type='submit'] {
        @include font;
        color: $text_white;
        background-color: $link;
        padding: 14px 28px;
        border: 0;
        border-radius: 3px;
        margin-right: 16px;
      }
      input[type='reset'] {
        @include font;
        color: $text_gray;
        background-color: transparent;
        text-decoration: underline;
        border: 0;
      }
      &.left {
        text-align: left;
      }
      // span {
      //   @include font;
      //   color: #878787;
      // }
      // a {
      //   padding: 13px 21px;
      //   border: 0;
      //   border-radius: 5px;
      //   text-decoration: none;
      // }
      // a.edit {
      //   background-color: $control;
      //   @include font;
      //   color: $bg;
      // }
      // .sign_up {
      //   text-align: left;
      //   @include font;
      //   color: $control;
      //   text-decoration: underline;
      //   padding-top: 30px;
      // }
      .action-group {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        input {
          display: inline-block;
          @include font;
          color: $text;
          background-color: $bg2;
          padding: 12px 36px;
          border: 1px solid #e2e2e2;
          min-width: 130px;
        }
        input:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          margin-right: 5px;
        }
        input:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-left: 5px;
        }
        input[type='submit'] {
          background-color: $link;
          color: $bg2;
          border: 1px solid transparent;
        }
      }
    }
    .fields-group {
      .actions {
        padding-bottom: 0;
      }
    }
    .header {
      @include font(20, 'b', 22);
      color: $text;
      padding-bottom: 30px;
    }
    .text {
      @include font(18);
      color: #3a3a3a;
      text-align: left;
      &.help {
        padding: 10px 27px;
        @include font(16, 'r', 22);
        span {
          @include font(16, 'b');
          color: #3a3a3a;
        }
        a {
          @include font(16);
          color: $link;
        }
      }
      a {
        @include font(18);
        color: $control;
      }
      & + .text {
        padding-top: 12px;
      }
    }
    &.light {
      .field-wrapper {
        .field-label {
          @include font;
          color: $link;

        }
      }
    }
    .fields-group {
      border-bottom: 1px solid $border;
      padding: 0 27px 30px;
      // margin-bottom: 4px;// 30px -36px 34px;
      .field-wrapper {
        padding-bottom: 22px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .fields-localization {
        margin: 0 -27px;
      }
      & + .fields-group {
        padding-top: 34px;
      }
    }
    .fields-column {
      padding: 0 30px 0 0;
      .field-wrapper {
        padding-bottom: 22px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .actions {
        padding-bottom: 0;
      }
    }
    &.column {
      display: flex;
      flex-direction: row;
      .fields-column {
        &.fill {
          flex: 1;
        }
        &.bottom {
          align-self: flex-end;
        }
      }
    }
    .fields-collection {

      display: flex;
      flex-direction: row;
      padding: 40px 0 33px;
      .field-wrapper {
        padding-bottom: 10px;
      }
      .fields-collection-label {
        @include font(18, 'b');
        color: $text;
        width: 45%;
        padding: 0 18px 0 0;
      }
      .fields-collection-wrapper {
        width: 55% !important;
        padding-bottom: 12px;
        label {
          @include font;
          color: $text;
          width: 100%;
          padding: 0;
        }
        input {
          padding: 0;
          margin: 0;
        }
      }
    }
    .field-array {
      > input {
        display: block;
        margin-bottom: 12px;
      }
      button {
        display: inline-block;
        padding: 12px 20px;
        border: 0;
        border-radius: 3px;
        @include font(18, 'sb');
        color: $bg;
        background-color: $link;
        cursor: pointer;
      }
    }
    .fields-asset {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 70px;
      max-width: 1496px;
      padding-top: 55px;
      padding-bottom: 90px;
      .field-wrapper {
        padding: 0;
        margin-bottom: 22px;
        margin-right: 30px;
        max-width: 339px;
      }
      .field-asset {
        position: relative;
        width: 309px;
        height: 206px;
        cursor: pointer;
        display: inline-block;
        &[data-asset-id='-1'] {
          cursor: not-allowed;
        }
        &.blink {
          -webkit-animation-name: blink;
          -webkit-animation-duration: 3s;
          -webkit-animation-iteration-count: infinite;
          animation-name: blink;
          animation-duration: 3s;
          animation-iteration-count: infinite;
        }
        @-webkit-keyframes blink {
            0% {background-color: #009b72;}
            50% {background-color: white;}
            100% {background-color: #009b72;}
        }

        @keyframes blink {
            0% {background-color: white;}
            50% {background-color: #009b72;}
            100% {background-color: white;}
        }
        &.picked:before {
          display: inline-block;
          content: "";
          position: absolute;
          width: 32px;
          height: 32px;
          top: 9px;
          right: 9px;
          background: background('picked');

        }
        img {
          width: 309px;
          height: 206px;
        }
        .field-input {
          display: inline-block;
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          a {
            display: inline-block;
            padding: 12px 20px;
            border-radius: 3px;
            @include font(18, 'sb');
            color: $bg;
            background-color: $control;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
          }
          // input {
          //   display: inline-block;
          // }
        }
      }


    }



  }
}


.field-file {
  label {
    display: inline-block;
    width: 309px;
    height: 206px;
    background-color: rgba(0, 155, 114, .7);
    text-align: center;
    @include font;
    color: $bg2;
    cursor: pointer;
    img {
      display: block;
      margin: 0 auto;
      padding: 56px 0 32px;
    }
  }
  input {
    display: none;
  }
}

.field-tag {
  ul.field-inputs {
    li {
      display: inline-block;
      white-space: nowrap;
      padding: 6px 8px;
    }
    label {
      @include font;
      color: $text;
    }
    .close {
      display: inline-block;
      width: 18px;
      height: 16px;
      background: transparent url(svg('close')) no-repeat center;
      cursor: pointer;
    }
  }
}

// simple_form type-non-autonomous style-light style-wide

/* .field-item {
  display: inline-block;
  padding-top: 26px;
  &:last-child {
    padding-bottom: 0;
  }
  .field-label {
    @include font;
    color: $link;
    padding-bottom: 7px;
  }
  .field-input {

    &input {
      @include font;
      color: $link;
    }
    &textarea {
      @include font;
      color: $link;
      padding: 0;
    }
  }
} */

// from admin.scss
/* .content {
  form {
    padding-left: 6px;
    & > .field > label {
      padding-left: 27px;
    }
  }
} */



// place
/* .row {
  display: flex;
  flex-direction: row;
  .column {
    padding-right: 30px;

  }
}
.group {
  display: inline-block;
} */













.devise-form {




  .field {
    text-align: left;
    &.email, &.remember-me {
      padding-bottom: 30px;
    }
    &.user_has_agreed {
      @include font;
      color: #3a3a3a;
      a {
        @include font(18);
        color: $control;
      }
    }
    &.password {
     padding-bottom: 8px;
     .forgot {
      float: right;
      @include font;
      color: $control;
      text-decoration: underline;
     }
    }

  }


}
