@import 'var';

.map-container {
  width: 100%;
  height: 100%;
  min-height: 270px;
  .map {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .map_zoom {
    display: flex;
    flex-direction: column;
    background-color: $bg2;
    border:1px solid $border;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 16px;
    text-align: center;
    z-index: 9000;
    .in, .out {
      @include font(18, 'b', 10);
      color: $text;
      cursor:pointer;
      padding: 9px;
    }
    .hr {
      display: block;
      width: 18px;
      height: 1px;
      background-color: $border;
      margin: 0 auto;
    }
  }
}

.map-locator {
  @include font;
  color: $bg;
  background-color: $control;
  padding: 12px 28px;
  border-radius: 3px;
  cursor: pointer;
  margin: 30px 0;
  &.disabled {
    background-color: #8c8c8c;
    cursor: not-allowed;
  }
}

.locator {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 565px;
  height: 441px;
  #locator_map {
    width: 100%;
    height: 100%;
    cursor: crosshair;

  }
}
