@import 'var';

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 270px;
  .map {
    width: 100%;
    height: 100%;
    z-index: 1;
    .leaflet-popup {
      .leaflet-popup-content-wrapper {
        border: 1px solid #eaba6b;
        background-color: $bg2;
        color: $text;
        padding: 12px 20px;
        border-radius: 0;
        .leaflet-popup-content {
          max-width: 200px;
        }
      }
      .leaflet-popup-tip-container {
        margin-top: -1px;
        .leaflet-popup-tip {
          border: 1px solid #eaba6b;
          background-color: $bg2;
          color: $text;
        }
      }
    }
  }
  .map-zoomer {
    display: flex;
    flex-direction: column;
    background-color: $bg2;
    border:1px solid $border;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 16px;
    text-align: center;
    z-index: 2;
    .in, .out {
      @include font(18, 'b', 10);
      color: $text;
      cursor:pointer;
      padding: 9px;
    }
    .hr {
      display: block;
      width: 18px;
      height: 1px;
      background-color: $border;
      margin: 0 auto;
    }
  }
  .map-filter {
    position: absolute;
    top: 15px;
    left: 16px;
    z-index: 2;
    padding: 7px 16px 7px 10px;
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $bg2;
    input[type="checkbox"] + label {
      @include font(14, 'r', 14);
    }
    input[type="checkbox"] + label:before {
      width:14px;
      height:14px;
      background:url(svg('map_checkbox')) no-repeat 0 top;
    }
    input[type="checkbox"]:checked + label:before {
      background:url(svg('map_checkbox')) no-repeat -15px top;
    }
  }
}

.map-locator {
  @include font;
  color: $bg;
  background-color: $control;
  padding: 12px 28px;
  border-radius: 3px;
  cursor: pointer;
  margin: 30px 0;
  &.disabled {
    background-color: #8c8c8c;
    cursor: not-allowed;
  }
}

.locator {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 565px;
  height: 441px;
  #locator_map {
    width: 100%;
    height: 100%;
    cursor: crosshair;

  }
}
