@import 'var';

.place-card {
  padding: 0 19px;
  text-align: left;
  .card-border {
    border: 1px solid $highlighted_bg;
    position: relative;
    height: 100%;
    &:after {
      content: "";
      position:absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 3px solid transparent;
      pointer-events: none;
    }
    &:hover:after {
       border: 3px solid $highlighted_bg;
    }
  }
  .card {
    padding: 9px;
    min-width: 327px;
    max-width: 327px;
    display: inline-block;
    position: relative;
    height: 100%;
    .front, .back {
      height: 100%;
    }
    .front {
      display: flex;
      flex-direction: column;
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      .services {
        padding: 20px 22px;
      }
      .close {
        position: absolute;
        top: 16px;
        right: 10px;
        background: background('close');
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
    .poster {
      position: relative;
      padding-bottom: 12px;
      .image {
        width: 100%;
      }
      .rating {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .place-info {
      display: flex;
      flex-direction: column;
      padding: 0 0 4px 1px;
      flex: 1;
      .name {
        @include font(18, 'sb');
        color: #000;
        text-decoration: underline;
        padding-bottom: 4px;
      }
      .provider {
        padding-bottom: 12px;
        a {
          @include font(18, 'sb');
          color: $link;
          text-decoration: underline;
        }
        span {
          @include font(12);
          color: $text;
        }
      }
      .first-service {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
        @include font;
        color: $text;
        padding-bottom: 17px;
        strong {
          flex: 1;
          display: inline-block;
          white-space: nowrap;
          text-overflow: clip;
        }
        .ellipsis {
          margin-right: 13px;
          width: 30px;
          height: 10px;
          background: transparent url(svg('ellipsis')) no-repeat center;
          cursor: pointer;
          &:hover {
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 2px;
          }
        }
      }
      .contact {
        justify-content: flex-end;
      }
    }
  }
}
