@import 'var';

.place-card {

  padding: 0 0 16px;
  // padding: 0 14px 16px;
  text-align: left;
  .card-border {
    border: 1px solid $highlighted_bg;
    position: relative;
    // min-width: 294px;
    // max-width: 294px;
    // height: 100%;
    &:after {
      content: "";
      position:absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 3px solid transparent;
      pointer-events: none;
    }
    &:hover:after {
      border: 3px solid $highlighted_bg;
    }
  }
  &.highlighted {
    .card-border:after {
      border: 3px solid $highlighted_bg;
      // animation: 1.5s animateBorderInOut ease-out;
    }
  }
  // @keyframes animateBorderInOut {
  //   0% {
  //     border: 3px solid transparent;
  //   }
  //   50% {
  //     border: 3px solid $highlighted_bg;
  //   }
  //   100% {
  //     border: 3px solid transparent;
  //   }
  // }
  .card {
    padding: 9px;
    // min-width: 294px;
    // max-width: 294px;

    display: inline-block;
    position: relative;
    height: 100%;
    .front, .back {
      height: 100%;
    }
    .front {
      // display: flex;
      // flex-direction: row;
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      .services {
        padding: 20px 22px;
      }
      .close {
        position: absolute;
        top: 16px;
        right: 10px;
        background: background('close');
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
    .poster {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 242px;
      .image {
        width: 100%;
      }
      .rating5-container {
        position: absolute;
        bottom: 11px;
        left: 8px;
      }
      .favoritor-container {
        position: absolute;
        top: 7px;
        right: 4px;

        .favoritor {
          &[data-f=true] i, &:hover i{
            background-position: -54px 0;
          }
          &[data-f=true]:hover i{
            background-position: -27px 0;
          }
        }
      }
    }
    .place-info {
      // display: flex;
      // flex-direction: column;
      // flex: 2;
      display: inline-block;
      width: 418px;
      padding: 7px 25px;
      .name {
        @include font(18, 'sb');
        color: #000;
        text-decoration: underline;
        padding-bottom: 4px;
      }
      .provider {
        span {
          @include font(12);
          color: $text;
        }
        a {
          @include font(18, 'sb');
          color: $link;
          text-decoration: underline;
          display: inline;
        }
      }
      .services {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
        @include font;
        color: $text;
        padding-top: 12px;
        padding-bottom: 17px;
        margin: 0;
        .service {
          padding: 0;
          display: inline-block;
          i{
            // display: inline-block;
            margin: 0 8px 0 0;
            &.adults {
              width: 17px;
              height: 20px;
              min-width: 17px;
              background: url(svg('adults')) no-repeat 0 top;
              background-size: cover;
            }
            &.children {
              width: 22px;
              height: 20px;
              min-width: 22px;
              background: url(svg('children')) no-repeat 0 top;
              background-size: cover;
            }
          }
        }
        // span {
        //   flex: 1;
        //   display: inline-block;
        //   white-space: nowrap;
        //   text-overflow: clip;
        // }
        .ellipsis {
          margin-right: 13px;
          width: 30px;
          height: 16px;
          background: transparent url(svg('ellipsis')) no-repeat center;
          cursor: pointer;
          float: right;
          &:hover {
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 2px;
          }
        }
      }
      .contact {
        justify-content: flex-end;
        li a, li span{
          @include font(15, 'r', 22);
          color: #919191;
        }
        li i {
          display: inline-block;
          width: 12px;
          height: 12px;
          vertical-align: middle;
          margin: 0;
          &.address {
            width: 17px;
            height: 22px;
            min-width: 17px;
            background: url(svg('address')) no-repeat 0 top;
            background-size: cover;
            margin-right: 8px;
          }
          &.phone {
            width: 13px;
            height: 22px;
            min-width: 13px;
            background: url(svg('phone')) no-repeat 0 top;
            background-size: cover;
            margin-right: 12px;
          }
        }
      }
    }
  }
  .rator-container {
    margin-top: 12px;
  }
}

@media (min-width: 1200px) {
  .place-card {
    // display: inline-block;
    padding: 0 19px 50px;
    .card-border {
      // min-width: 327px;
      // max-width: 327px;
    }
    .card {
      // min-width: 327px;
      // max-width: 327px;
    }
  }
}
