@import 'var';

.rator-container {
  display: flex;
  flex-direction: row;
  label {
    @include font(18, 'b');
    color: $text;
    margin-right: 4px;
    position: relative;
    top: -3px;
  }
  .rator {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    .heart, .heart-dummy {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      i {
        display: inline-block;
        width: 20px;
        height: 17px;
        background: background('heart');
        background-position: -21px 0;
        margin: 0 8px 0 0;
      }
      &:hover > i {
        background-position: 0 0;
      }
      &.heart-dummy i {
        background: background('heart_disabled');
        background-position: -21px 0;
      }
    }
    .up {
      @include font(16, 'r', 18);
      color: #000000;
      white-space: nowrap;
    }
    .reset {
      visibility: hidden;
      background: transparent url(svg('close')) no-repeat center;
      width: 18px;
      height: 10px;
      cursor: pointer;
    }
    &[data-r='1'] {
      .heart[data-r='1'] {
        > i {
          background-position: 0 0;
        }
      }
      .reset { visibility: visible; }
    }
    &[data-r='2'] {
      .heart[data-r='1'], .heart[data-r='2'] {
        > i {
          background-position: 0 0;
        }
      }
      .reset { visibility: visible; }
    }
    &[data-r='3'] {
      .heart[data-r='1'], .heart[data-r='2'], .heart[data-r='3'] {
        > i {
          background-position: 0 0;
        }
      }
      .reset { visibility: visible; }
    }
    &[data-r='4'] {
      .heart[data-r='1'], .heart[data-r='2'], .heart[data-r='3'], .heart[data-r='4'] {
        > i {
          background-position: 0 0;
        }
      }
      .reset { visibility: visible; }
    }
    &[data-r='5'] {
      .heart[data-r='1'], .heart[data-r='2'], .heart[data-r='3'], .heart[data-r='4'], .heart[data-r='5'] {
        > i {
          background-position: 0 0;
        }
      }
      .reset { visibility: visible; }
    }

  }
}
