@import 'var';

ul.services {
  flex-grow: 1;
  overflow: hidden;
  display: inline-block;
}
.service, .results-service-name {
  display: block;
  white-space: nowrap;
  padding:0 16px 12px 0;
  &.inline {
    display: inline-block;
  }
  i {
    display: inline-block;
    width: 25px;
    height: 19px;
    min-width: 25px;
    margin: 0 8px 0 0;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    &.educational { background-image: url(svg('services/educational')); }
    &.employment { background-image: url(svg('services/employment')); }
    &.financial { background-image: url(svg('services/financial')); }
    &.health { background-image: url(svg('services/health')); }
    &.legal_assistance { background-image: url(svg('services/legal_assistance')); }
    &.other { background-image: url(svg('services/other')); }
    &.recreation_sport { background-image: url(svg('services/recreation_sport')); }
    &.social { background-image: url(svg('services/social')); }
  }
  a {
    text-decoration: none;
  }
  span {
    @include font(18, 'r', 23);
    color: $text;
    white-space: nowrap;
    text-overflow: clip;
  }
  .close {
    width: 18px;
    height: 16px;
    background: transparent url(svg('close')) no-repeat center;
    cursor: pointer;
  }
}
