@import 'var';

ul.services {
  flex-grow: 1;
  overflow: hidden;
  display: inline-block;
}
.service {
  display: block;
  white-space: nowrap;
  padding:0 16px 12px 0;
  cursor: pointer;
  i {
    display: inline-block;
    width: 25px;
    height: 19px;
    margin: 0 8px 0 0;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    &.adult { background-image: url(svg('services/adult')); }
    &.children { background-image: url(svg('services/children')); }
    &.education { background-image: url(svg('services/education')); }
    &.health { background-image: url(svg('services/health')); }
    &.legal { background-image: url(svg('services/legal')); }
    &.other { background-image: url(svg('services/other')); }
    &.rehab { background-image: url(svg('services/rehab')); }
    &.social { background-image: url(svg('services/social')); }
  }
  span {
    @include font;
    color: $text;
    white-space: nowrap;
    text-overflow: clip;
  }
  .close {
    width: 18px;
    height: 16px;
    background: transparent url(svg('close')) no-repeat center;
    cursor: pointer;
  }
}





// .fields-checkbox-list {

//   &.services {
//     display: flex;
//     flex-direction: row;
//     padding: 40px 0 33px;
//     > label {
//       @include font(18, 'b');
//       color: $text;
//       width: 45%;
//       padding: 0 18px 0 0;
//     }
//     .fields {
//       width: 55% !important;
//       padding-bottom: 12px;
//       label {
//         @include font;
//         color: $text;
//         width: 100%;
//         padding: 0;
//         span.icon {
//           display: inline-block;
//           width: 25px;
//           height: 19px;
//           margin: 0 6px 0 8px;
//           &.adult { background: transparent url(svg('services/adult')) no-repeat; }
//           &.children { background: transparent url(svg('services/children')) no-repeat; }
//           &.education { background: transparent url(svg('services/education')) no-repeat; }
//           &.health { background: transparent url(svg('services/health')) no-repeat; }
//           &.legal { background: transparent url(svg('services/legal')) no-repeat; }
//           &.other { background: transparent url(svg('services/other')) no-repeat; }
//           &.rehab { background: transparent url(svg('services/rehab')) no-repeat; }
//           &.social { background: transparent url(svg('services/social')) no-repeat; }
//         }
//       }
//       input {
//         padding: 0;
//         margin: 0;
//       }
//     }
//   }
// }
