@import 'var';

/****************************** toggleable-list ******************************/
  .toggleable-list-prefix {
    padding: 16px 0 0;
    .header {
      padding: 0 16px 16px;
      @include font(24, 'sb', 26);
      color: $link;
      text-transform: uppercase;
      max-width: 992px;
    }
    p {
      @include font;
      color: $text;
      padding: 0 16px 27px;
      max-width: 992px;
    }
  }
  .toggleable-list-prefix + .toggleable-list > li:first-child {
    border-top: 1px solid $control;
  }
  .toggleable-list-prefix + .toggleable-list {
    padding-top: 0;
  }
  .toggleable-list {
    padding: 0 0 5px;
    > li {
      padding: 0 0;
      border-bottom: 1px solid $control;
      &.toggled {
        a {
          color: $link;
          .caret {
            background-position: -13px 0;
          }
        }
        .toggleable-list-text {
          display: block;
        }
      }
      > a {
        width: 100%;
        padding: 20px 16px;
        position: relative;
        .caret {
          display: inline-block;
          width: 12px;
          height: 8px;
          background: background('arrows');
          position: absolute;
          top: 30px;
          right: 8px;
        }
      }
    }
    a {
      @include font(18, 'sb');
      color: $text;
      text-decoration: none;
      cursor: pointer;
      max-width: 992px;
    }
    .toggleable-list-text {
      display: none;
      padding:0 16px 20px;
      max-width: 992px;
      p, a {
        @include font(18);
        color: $text;
        padding-bottom: 27px;
        &:last-child {
          padding-bottom: 0;
        }
        b {
          @include font(18, 'b');
        }
      }
      ul {
        list-style-type: square;
        color: $text;
        padding-bottom: 27px;
        &.numbered {
          list-style-type: none;
        }
        li {
          margin-left: 20px;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .toggleable-list-prefix {
      padding: 25px 31px 0;
    }
    .toggleable-list {
      padding: 9px 31px 20px;
      > li {
        padding: 16px 16px 20px;
        > a {
          width: auto;
          padding: 0;
          position: static;
          .caret {
            display: inline-block;
            width: 12px;
            height: 8px;
            background: background('arrows');
            position: static;
            margin-left: 6px;
          }
        }
      }
      .toggleable-list-text {
        padding: 20px 0 0;
      }
    }
  }
