@import 'var';

.list, .table-view {
  .actions {
    display: flex;
    flex-direction: row;
    a {
      display: inline-block;
      padding: 9px 20px;
      border: 0;
      border-radius: 5px;
      @include font(14, 'i');
      color: $bg2;
      text-decoration: none;
      margin:0 5px;
    }
    a.add {
      background-color: $link;
    }
    a.delete {
      background-color: $text_gray;
    }
    a.edit {
      background-color: $control;
    }
    a.restore {
      background-color: $highlighted_bg;
    }
  }
}

.table-view {
  width: 100%;
  .datatable-filters {
    display: flex;
    flex-direction: row;
    padding-right: 33px;
    .dataTables_filter {
      input {
        @include font(14, 'li', 14);
        background-color: $bg2;
        color: $text;
        padding: 12px 33px;
        border: 1px solid #e2e2e2;
        border-left: 0;
        border-radius: 3px;
      }
    }
    .dataTables_length {
      width: 100%;
      text-align: right;
      label {
        @include font(14, 'r', 14);
        color: $text;
        select {
          background-color: $bg2;
          color: $link;
          padding: 12px 18px 12px 9px;
          border: 1px solid #e2e2e2;
          border-radius: 3px;
          margin-right: 12px;
          background:$bg2 url(svg('select_arrow')) no-repeat 36px;
          -webkit-appearance: none;
          appearance: none;
        }
      }
    }

  }
  .datatable-table {
    display: block;
    // padding: 27px 0;
    tr {
      th {
        @include font(16, 'b', 16);
        color: $text;
        padding: 14px 33px 14px 4px;
        // padding-right: 33px;
        text-align: left;
        &.fill {
          width: 100%;
        }
        .spacer {
          width: 33px;
        }
      }
      td {
        @include font(16, 'r', 16);
        color: $text;
        // opacity: .8;
        padding: 14px 33px 14px 4px;
      }
      th.actions {
        padding: 0 33px 0 0;
      }
      td.actions {
        text-align: right;
        white-space: nowrap;
        padding: 0 33px 4px 4px;
      }
    }
    tbody {
      tr:hover {
        background-color: #ededed;
        // cursor: pointer;
      }
    }

  }
  .datatable-pagination {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 14px;
    padding-right: 33px;
    ul.pagination {
      .paginate_button {
        display: inline-block;

        border: 1px solid #e2e2e2;
        border-radius: 3px;
        margin-right: 12px;
        a {
          @include font(14, 'r', 14);
          color: $text;
          background-color: $bg2;
          padding: 12px 18px;
          text-decoration: none;
          text-align: center;
        }
        &.active a{
          color: $link;
        }
        &.disabled a {
          color: $text;
          opacity: .6;
          cursor: no-drop;
        }
      }
    }
  }
}

.column-view {
  display: flex;
  flex-direction: row;
  padding: 0 70px 0;
  .column {
    width: 50%;
    &:first-child {
      padding: 0 20px 0 0;
      border-right: 1px solid #d2d2d2;
    }
    &:last-child {
      padding: 0 0 0 20px;
    }
  }
}

.grid-view {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 734px;
  margin: 0 auto;
}

.photo-view {
  display: flex;
  flex-direction: column;
  .row {
    display: block;
    padding-bottom: 15px;
    label {
      @include font(16, 'r', 20);
      color: $link;
      text-transform: uppercase;
    }
    span {
      @include font(16, 'r', 20);
      color: #000000;
    }
    .name {
      @include font(18, 'sb', 20);
      color: #000000;
    }

    &.pad {
      padding-bottom: 9px;
    }
    &.actions {
      a {
        display: inline-block;
        padding: 12px 20px;
        border: 0;
        border-radius: 3px;
        @include font(18, 'r', 20);
        color: $bg;
        background-color: $link;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        &.decline {
          background-color: $control;
        }
      }
    }
  }

  > li {
    position: relative;
    padding: 0 24px;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      border-bottom: 1px solid $control;
    }
    &:last-child {
      &:after {
        border-bottom: 0;
      }
    }
    & + li {
      padding-top: 24px;
    }
    a {
      @include font(18, 'sb');
      color: #000000;
      padding-bottom: 13px;
    }
    .photo {
      display: inline-block;
      position: relative;
      img {
        display: block;
      }
      .state {
        position: absolute;
        right: 0;
        bottom: 0;
        @include font(20, 'sb', 22);
        color: #1b2028;
        text-transform: uppercase;
        opacity: .8;
        padding: 16px 21px;
        &.pending { background-color: #eaba6b; }
        &.accepted { background-color: $link; }
        &.declined { background-color: $control; }
      }
    }
    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      > li {
        margin-right: 26px;
        margin-bottom: 35px;
        position: relative;
      }
    }
  }
}
