/****************************** nav ******************************/
  nav {
    height: 75px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    z-index: 71;
    .nav-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .nav-left {
        width: 100%;
        padding:0 16px; // 30px
        display: flex;
        flex-direction: row;
        align-items: center;
        .nav-toggle {
          width: 100%;
          text-align: right;
          // display: none;
          .nav-toggle-button {
            background-color: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            .toggle {
              width: 30px;
              height: 24px;
              background: transparent url(svg('hamburger')) no-repeat;
              background-position: -30px 0px;
              cursor: pointer;
              pointer-events: none;

            }
            .helper {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0,0,0,0);
              border: 0;
            }
            &.collapsed .toggle {
              background-position: 0px 0px;
            }
          }
        }
      }
      .nav-right {
        position:absolute;
        top:100%;
        width: 100%;
        display:none;
        // display: flex;
        flex-direction: column;
        background-color: #fff;
        margin-top: 1px;
        // justify-content: flex-end;
        padding: 0 20px;

        > div {
          display: inline-block;
          text-align: center;
          padding: 20px 0;
          border-bottom: 1px solid #d8d8d8;
        }
        .nav-menu {
          font-size:0;
          // display: flex;
          // flex-direction: row;
          // justify-content: center;
          .nav-menu-item {
            position: relative;
            display:inline-block;
            min-width: 80px;
            padding: 6px 20px;
            font: 18px 'sourcesans_pro';
            text-decoration: none;
            text-align: center;
            color: #373f51;
            margin:0;
          }
          .border-both {
            border-left: 1px solid $control;
            border-right: 1px solid $control;
          }
          .border-left, .border-right {
            border-left:1px solid transparent;
            border-right: 1px solid transparent;
          }
          .border-left:hover, .border-right:hover, .border-left.active, .border-right.active  {
            border-left:1px solid $control;
            border-right:1px solid $control;
          }
          a:hover::before, a:hover::after, a.active::before, a.active::after {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            border-top: 1px solid $control;
          }
          a:hover::before, a.active::before {
            top: 0;
            left:0;
          }
          a:hover::after, a.active::after {
            bottom:0;
            right: 0;
          }
        }

        .nav-social {
          // display: flex;
          // flex-direction: row;
          // justify-content: center;
          padding: 10px 0;
          a:hover {
            transform: scale(1.14);
          }
          a:first-child {
            margin-right:10px;
          }
          // border-bottom: 1px solid #d8d8d8;
        }
        .nav-user {
          height: 100%;

          // padding: 20px 0;
          // border-bottom: 1px solid #d8d8d8;
          .guest {
            position: relative;
            text-align: center;
            height: 100%;
            padding-top: 27px;
            a {
              display: inline-block;
              font: 16px 'sourcesans_pro';
              text-decoration: none;
              color: #444d5e;
            }
            .slash {
              display: inline-block;
              font: 16px 'sourcesans_pro';
              color: #444d5e;
            }
            .nav-sign-in-form {
              position: absolute;
              top: 100%;
              right: -1px;
              padding: 42px 36px 36px;
              border: 1px solid #d8d8d8;
              border-top: 0;
              margin-top: 1px;
              background-color: #fff;
              max-height: 500px;
              .header {
                font: 18px 'sourcesans_pro';
                color: #373f51;
                text-align: left;
                padding-bottom: 30px;
              }
              .field {
                &.email, &.remember-me {
                  padding-bottom: 30px;
                }
                &.password {
                 padding-bottom: 8px;
                 .forgot {
                  float: right;
                  font: 18px 'sourcesans_pro';
                  color: #f38d68;
                  text-decoration: underline;
                 }
                }
                label {
                  display: block;
                  font: 18px 'sourcesans_pro';
                  color: #009b72;
                  text-align: left;
                  padding: 0 0 8px 2px;
                }
                input {
                  font: 18px 'sourcesans_pro';
                  color: #373f51;
                  background-color: #f4f4f4;
                  border-radius: 3px;
                  border: 0;
                  padding: 10px 6px;
                  min-width: 300px;
                }
              }
              .actions {
                .action-group {
                  display: flex;
                  flex-direction: row;
                }
                input {
                  cursor: pointer;
                }
                input[type='submit'] {
                  font: 18px 'sourcesans_pro';
                  color: #fff;
                  background-color: #009b72;
                  padding: 14px 28px;
                  border: 0;
                  border-radius: 3px;
                  margin-right: 16px;
                }
                input[type='reset'] {
                  font: 18px 'sourcesans_pro';
                  color: #878787;
                  background-color: transparent;
                  text-decoration: underline;
                  border: 0;
                }
                .sign_up {
                  text-align: left;
                  font: 18px 'sourcesans_pro';
                  color: #f38d68;
                  text-decoration: underline;
                  padding-top: 30px;
                }
                span {
                  font: 18px 'sourcesans_pro';
                  color: #878787;
                }
              }
            }
          }
          .user {
            height: 100%;
            position: relative;
            .nav-user-menu-link {
              display: flex;
              flex-direction: row;
              align-items: center;
              text-decoration: none;
              padding: 6px 20px;
              height: 100%;
              cursor: pointer;
              .user-icon {

              }
              .user-name {
                font: 16px 'sourcesans_pro';
                color: #444d5e;
                padding: 0 8px;
              }
              .caret {
                width: 12px;
                height: 6px;
                background: transparent url(svg('arrows')) no-repeat;
                background-position: 0px 0px;
              }


            }
            .user-menu {
              display: none;
              overflow-y: auto;
              border: 1px solid #d8d8d8;
              background-color: #fff;
              text-align: left;
              ul.first {
                padding: 22px 46px 22px 20px;
                > li.sans {
                  padding-bottom: 20px;
                }
              }
              ul.last {
                padding: 22px 46px 22px 20px;
              }
              a {
                font: 18px 'sourcesans_pro';
                color: #373f51;
                text-decoration: none;
                white-space: nowrap;
              }
              li:not(.sans) a {
                padding-left: 38px;
                position: relative;
                font: 18px 'sourcesans_pro';
                color: #373f51;
                white-space: nowrap;
                padding-bottom: 10px;
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 50px;
                  border-bottom: 1px solid $control;
                  padding-bottom: 6px;
                }
              }
              .header {
                font: 18px 'sourcesans_pro';
                color: #009b72;
                padding-bottom: 6px;
              }
              .subheader {
                font: 18px 'sourcesans_pro';
                color: #009b72;
                padding-left: 19px;
                padding-bottom: 6px;
              }
              hr {
                border: 0;
                border-top: 1px solid #d8d8d8;
                margin: 0;
              }
              // > ul {
              //   > li {
              //     padding-bottom: 20px;
              //     white-space: nowrap;
              //     span {
              //       font: 18px 'sourcesans_pro';
              //       color: #009b72;
              //     }

              //   }
              // }
            }
            &:hover .user-menu {
              position: absolute;
              top: 100%;
              right: -2px;
              display: block;
            }

          }
        }
        .nav-lang {
          // padding: 20px 0;
          // border-bottom: 1px solid #d8d8d8;
          a {
            display: inline-block;
            font: 16px 'sourcesans_pro';
            text-decoration: none;
            color: #4c4c4c;
            padding: 6px 10px;
            &.active {
              color: #009b72;

            }
          }
          a:lang(en) { font: 18px 'myriad_pro'; }
          a:lang(ka) { font: 13px 'dejavusans_book'; }
        }
        .nav-links {
          margin: 0 -20px;
          a {
            display: inline-block;
            font: 14px 'sourcesans_pro';
            color: #4c4c4c;
            padding: 6px 10px;
          }
        }
      }
      .flex {
        display: flex;
      }
    }
  }

  @media (min-width: 992px) {
    nav {
      .nav-container {
        flex-direction: row;
        .nav-left {
          width: auto;
          padding:0 0 0 30px;
          flex-direction: column;
          .nav-toggle {
            display: none;
          }
        }
        .nav-right {
          position: static;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          margin-top:0;
          padding: 0;
          > div {
            display: inline-block;
            text-align: center;
            padding: 0;
            border-bottom: 0;
          }
          .nav-social {
            padding: 0 60px;

          }
          .nav-user {
            .guest {
              padding-right: 20px;
            }
          }
          .nav-lang {
            border-left: 1px solid #d8d8d8;
            padding:0 16px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
              display: block;
              padding: 0;
              &:first-child {
                margin-bottom: 6px;
              }
            }
          }
          .nav-links {
            display: none;
          }
        }
      }
    }
  }
